<div class="column is-12"></div>
<dx-data-grid [dataSource]="dataSource" keyExpr="userID" id="grid" [remoteOperations]="true" height="600" showBorders="true"
  [masterDetail]="{ enabled: true, template: 'dataSource' }" (onRowInserted)="onRowInserted($event)" (onRowUpdated)="onRowUpdated($event)"
  (onRowRemoved)="onRowRemoved($event)">
  <dxo-selection mode="multiple">
  </dxo-selection>
  <dxo-search-panel [visible]="true"></dxo-search-panel>
  <dxo-export [enabled]="true" fileName="Employees" [allowExportSelectedData]="true"></dxo-export>
  <dxo-paging [pageSize]="10"></dxo-paging>
  <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]" [showInfo]="true">
  </dxo-pager>

  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxo-header-filter [visible]="true"></dxo-header-filter>
  <dxo-group-panel [visible]="true"></dxo-group-panel>
  <dxo-editing mode="form" [allowAdding]="true" [allowUpdating]="true" [allowDeleting]="true" [allowAdding]="true" [useIcons]="true">

  </dxo-editing>

  <dxi-column dataField="discriminator" caption="Title">
    <dxo-lookup [dataSource]="Title" displayExpr="Name" valueExpr="Name">
    </dxo-lookup>
    <dxi-validation-rule type="required" message="Title is required"></dxi-validation-rule>
  </dxi-column>
  <dxi-column dataField="userEmail" caption="Employee Email">
    <dxi-validation-rule type="required" message="Email is required"></dxi-validation-rule>
    <dxi-validation-rule type="email" message="Email is invalid"></dxi-validation-rule>
  </dxi-column>
  <dxi-column dataField="userFirstName" caption="Employee FirstName">
    <dxi-validation-rule type="required" message="Employee FirstName is required"></dxi-validation-rule>
  </dxi-column>
  <dxi-column dataField="userLastName" caption="Employee LastName">
    <dxi-validation-rule type="required" message="Employee LastName is required"></dxi-validation-rule>
  </dxi-column>
  <dxi-column dataField="userMobilePhone" caption="Employee PhoneNumber" dataType="number">
    <dxi-validation-rule type="stringLength" max="9" min="9" message="Please enter  9 digit number"></dxi-validation-rule>
    <dxi-validation-rule type="required" message="Employee PhoneNumber is required"></dxi-validation-rule>
  </dxi-column>
  <dxi-column [visible]="false" dataType="password" dataField="UserPassword" caption="Password" [formItem]="{visible: true}">
    <dxi-validation-rule type="required" message="password is required"></dxi-validation-rule>
  </dxi-column>
  <dxi-column dataField="isAllowed" caption="IsAllowed">
    <dxi-validation-rule type="required" message="IsAllowed is required"></dxi-validation-rule>
  </dxi-column>


  <div *dxTemplate="let employee of 'dataSource'">
    <dx-form id="form" [formData]="employee.data">
      <dxi-item itemType="group" cssClass="second-group" [colCount]="2">
        <dxi-item itemType="group">
          <dxi-item dataField="discriminator" [editorOptions]="{ readOnly: true, width: '100%' }">
            <dxo-label text="Title">
            </dxo-label>
          </dxi-item>
          <dxi-item dataField="userFirstName" [editorOptions]="{ readOnly: true, width: '100%' }">
            <dxo-label text="Employee FirstName">
            </dxo-label>
          </dxi-item>
          <!-- 
          <dxi-item dataField="userDOB" editorType="dxDateBox" [editorOptions]="{ readOnly: true, width: '100%' }">
            <dxo-label text="Birthdate">
            </dxo-label>
          </dxi-item> -->

        </dxi-item>
        <dxi-item itemType="group">
          <dxi-item dataField="userEmail" [editorOptions]="{ readOnly: true, width: '100%' }">
            <dxo-label text="Employee Email">
            </dxo-label>
          </dxi-item>

          <dxi-item dataField="userLastName" [editorOptions]="{ readOnly: true, width: '100%' }">
            <dxo-label text="Employee LastName">
            </dxo-label>
          </dxi-item>
          <dxi-item dataField="userMobilePhone" [editorOptions]="{ readOnly: true, width: '100%' }">
            <dxo-label text="Employee PhoneNumber">
            </dxo-label>
          </dxi-item>
        </dxi-item>
        <dxi-item itemType="group">
          <dx-button text="show Profile" (onClick)="showProfile(employee.data.userID)">
          </dx-button>
        </dxi-item>
      </dxi-item>
    </dx-form>
  </div>
</dx-data-grid>