body {
    padding-top: 20px;
    color: #75736f;
    overflow: hidden;
}

::-webkit-scrollbar {
    display: none;
}
#test{
    background-color: yellow
}

a {
    color: #75736f;
}

a:focus,
a:hover,
a:visited,
a:active,
a:link {
    text-decoration: none !important;
    color: #75736f;
}

ul.neo-nav {
    border: 2px solid #75736f;
    display: inline-block;
    -moz-padding-start: 0px;
    -webkit-padding-start: 0px;
    padding-start: 0px;
    border-radius: 5px;
}

ul.neo-nav li {
    display: inline-block;
    list-style: none;
}

ul.neo-nav li a {
    color: #75736f;
    padding: 10px 30px;
    font-weight: bold;
    display: block;
}

ul.neo-nav li.active a {
    color: white;
}

ul.neo-nav li:not(:first-child) {
    border-left: 2px solid #75736f;
}

ul.neo-nav li.active {
    background-color: #75736f;
    color: white;
}

ul.neo-nav li a:hover,
ul.neo-nav li a:visited,
ul.neo-nav li a:active,
ul.neo-nav li a:link {
    text-decoration: none;
}

#main-content {
    background-color: whitesmoke;
    border-left: 1px solid #ddd;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 1;
    overflow-y: scroll;
}

#sideBar {
    padding-top: 20px;
    padding-left: 0px;
    padding-right: 0px;
    z-index: 2;
}

.tab-container {
    border-bottom: 1px solid gray;
    padding-bottom: 20px;
}

#addFieldTab {
    padding-top: 20px;
    padding-left: 20px;
}

#fieldSettingTab {
    padding: 20px;
}

#stdFields {}

#formBuilderContent {
    background-color: white;
    padding: 20px;
}

.dragElement-wrapper {
    width: 50%;
    display: inline-block;
    margin-bottom: 20px;
}

.dragElement-wrapper .drag-element {
    display: block;
    width: 90%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
     cursor: pointer;
}

.dragElement-wrapper .drag-element i {
    margin-right: 5px;
}

[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */

    -khtml-user-drag: element;
    -webkit-user-drag: element;
}

#chkBoxZone {
    margin-top: 15px;
}

.input-as-label {
    border: none;
    box-shadow: none;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    background-color: transparent;
}

.active-field {
    background-color: #f1fafc;
}

.form-group {
    padding: 10px;
    position: relative;
}

.form-group i.remove-ico {
    position: absolute;
    right: 5px;
    top: 5px;
     cursor: pointer;
}

.pale {
    opacity: 50%;
}

.sortable-formbuilder,
.sortable-stdFields {
    padding-left: 0px;
    -moz-padding-start: 0px;
    -webkit-padding-start: 0px;
    -khtml-padding-start: 0px;
    -o-padding-start: 0px;
    padding-start: 0px;
    list-style: none;
    min-height: 40px;
}

.drop-to-add {
    height: 40px;
}

a[data-toggle="collapse"] i.fa-plus-square-o {
    display: none;
}

a[data-toggle="collapse"] i.fa-minus-square-o {
    display: inline-block;
}

a[data-toggle="collapse"].collapsed i.fa-plus-square-o {
    display: inline-block;
}

a[data-toggle="collapse"].collapsed i.fa-minus-square-o {
    display: none;
}

.orange-txt {
    color: orange;
}
#sidebar-tab-content{
    overflow-y: scroll;
}
.tab-content > .tab-pane {
    display: none;
  }
.tab-content > .active {
    display: block;
  }

.table-active,
.table-active > th,
.table-active > td {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-hover .table-active:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-hover .table-active:hover > td,
.table-hover .table-active:hover > th {
  background-color: rgba(0, 0, 0, 0.075);
}
.text-left {
    text-align: left !important;
  }
  
.text-right {
    text-align: right !important;
  }
  
.text-center {
    text-align: center !important;
  }
.clearfix::after {
    display: block;
    clear: both;
    content: "";
  }

  
.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  @media screen and (prefers-reduced-motion: reduce) {
    .form-control {
      transition: none;
    }
  }
  
  .form-control::-ms-expand {
    background-color: transparent;
    border: 0;
  }
  
  .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  
  .form-control::-webkit-input-placeholder {
    color: #6c757d;
    opacity: 1;
  }
  
  .form-control::-moz-placeholder {
    color: #6c757d;
    opacity: 1;
  }
  
  .form-control:-ms-input-placeholder {
    color: #6c757d;
    opacity: 1;
  }
  
  .form-control::-ms-input-placeholder {
    color: #6c757d;
    opacity: 1;
  }
  
  .form-control::placeholder {
    color: #6c757d;
    opacity: 1;
  }
  
  .form-control:disabled, .form-control[readonly] {
    background-color: #e9ecef;
    opacity: 1;
  }

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  /************************/
  .box {
  border: 1px solid black;
  padding: 10px 20px;
  display: inline-block;

  &.dragging {
    background: coral;
  }

  &.sortable.dragging {
    background: none;
    border: 1px dashed black;
    color: transparent;
  }
}

.area {
  background: #C0FFEE;
  padding: 40px;
}

button {
  margin-top: 20px;
}

ul {
  display: inline-flex;
  margin: 0;
  padding: 0;
  flex-direction: column;

  &.horizontal {
    flex-direction: row;
    flex-wrap: wrap;
  }
}