<div class=" container column is-10" *ngIf="patient">


  <label class="label" style="font-size:25px ">Edit Patient Profile </label>


  <hr>
  <form #userEditForm="ngForm" novalidate [formGroup]="accountDetailsForm" (ngSubmit)="OnSubmit(userEditForm)">
    <div class="field">
      <div class="columns">
        <div class="column is-6">
          <label class="label">First Name</label>
          <input class="input is-rounded" type="text" name="UserFirstName" formControlName="UserFirstName" placeholder="First Name"
            required>
          <div *ngFor="let validation of account_validation_messages.UserFirstName">
            <div class="error" *ngIf="accountDetailsForm.get('UserFirstName').hasError(validation.type) && (accountDetailsForm.get('UserFirstName').dirty || accountDetailsForm.get('UserFirstName').touched)">{{validation.message}}</div>
          </div>
        </div>
        <div class="column is-6">
          <label class="label">Last Name</label>
          <input class="input is-rounded" type="text" name="UserLastName" formControlName="UserLastName" placeholder="Last Name" required>
          <div *ngFor="let validation of account_validation_messages.UserLastName">
            <div class="error" *ngIf="accountDetailsForm.get('UserLastName').hasError(validation.type) && (accountDetailsForm.get('UserLastName').dirty || accountDetailsForm.get('UserLastName').touched)">{{validation.message}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="columns">
        <div class="column is-6">
          <label class="label"> Nick Name</label>
          <input class="input is-rounded" type="text" name="UserNickName" formControlName="UserNickName" placeholder="Nick Name" required>
          <div *ngFor="let validation of account_validation_messages.UserNickName">
            <div class="error" *ngIf="accountDetailsForm.get('UserNickName').hasError(validation.type) && (accountDetailsForm.get('UserNickName').dirty || accountDetailsForm.get('UserNickName').touched)">{{validation.message}}</div>
          </div>
        </div>
        <div class="column is-6">
          <!-- <label class="label">Patient #</label>
          <input class="input is-rounded" type="number" name="UserId" formControlName="UserId" placeholder="Patient #" readonly>
          <div *ngFor="let validation of account_validation_messages.UserLastName">
            <div class="error" *ngIf="accountDetailsForm.get('UserId').hasError(validation.type) && (accountDetailsForm.get('UserId').dirty || accountDetailsForm.get('UserId').touched)">{{validation.message}}</div>
          </div> -->
        </div>
      </div>
    </div>
    <hr>
    <div class="field">
      <label class="label">Email</label>
      <div class="control">
        <input class="input is-rounded" type="email" placeholder="Email" name="UserEmail" formControlName="UserEmail" readonly>
        <div *ngFor="let validation of account_validation_messages.UserEmail">
          <div class="error" *ngIf="accountDetailsForm.get('UserEmail').hasError(validation.type) && (accountDetailsForm.get('UserEmail').dirty || accountDetailsForm.get('UserEmail').touched)">{{validation.message}}</div>
        </div>
      </div>
    </div>
    <hr>
    <div class="field">
      <div class="columns">
        <div class="column is-6">
          <label class="label">Home Phone</label>
          <input class="input is-rounded" type="number" name="UserHomePhone" formControlName="UserHomePhone" placeholder="Home Phone">
          <div *ngFor="let validation of account_validation_messages.UserPhone">
            <div class="error" *ngIf="accountDetailsForm.get('UserHomePhone').hasError(validation.type) && (accountDetailsForm.get('UserHomePhone').dirty || accountDetailsForm.get('UserHomePhone').touched)">{{validation.message}}</div>
          </div>
        </div>
        <div class="column is-6">
          <label class="label">Street Address</label>
          <input class="input is-rounded" type="text" name="Street" formControlName="Street" placeholder="Street Address" required>
          <div *ngFor="let validation of account_validation_messages.Street">
            <div class="error" *ngIf="accountDetailsForm.get('Street').hasError(validation.type) && (accountDetailsForm.get('Street').dirty || accountDetailsForm.get('Street').touched)">{{validation.message}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="columns">
        <div class="column is-6">
          <label class="label">Mobile Phone</label>
          <input class="input is-rounded" type="number" name="UserMobilePhone" formControlName="UserMobilePhone" placeholder="Mobile Phone"
            required>
          <div *ngFor="let validation of account_validation_messages.UserPhone">
            <div class="error" *ngIf="accountDetailsForm.get('UserMobilePhone').hasError(validation.type) && (accountDetailsForm.get('UserMobilePhone').dirty || accountDetailsForm.get('UserMobilePhone').touched)">{{validation.message}}</div>
          </div>
        </div>
        <div class="column is-6">
          <label class="label">State</label>
          <input class="input is-rounded" type="text" name="State" formControlName="State" placeholder="State" required>
          <div *ngFor="let validation of account_validation_messages.State">
            <div class="error" *ngIf="accountDetailsForm.get('State').hasError(validation.type) && (accountDetailsForm.get('State').dirty || accountDetailsForm.get('State').touched)">{{validation.message}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="columns">
        <div class="column is-6">
          <label class="label">Work Phone</label>
          <input class="input is-rounded" type="number" name="UserWorkPhone" formControlName="UserWorkPhone" placeholder="Work Phone" required>
          <div *ngFor="let validation of account_validation_messages.UserPhone">
            <div class="error" *ngIf="accountDetailsForm.get('UserWorkPhone').hasError(validation.type) && (accountDetailsForm.get('UserWorkPhone').dirty || accountDetailsForm.get('UserWorkPhone').touched)">{{validation.message}}</div>
          </div>
        </div>
        <div class="column is-6">
          <label class="label">City</label>
          <input class="input is-rounded" type="text" name="City" formControlName="City" placeholder="City" required>
          <div *ngFor="let validation of account_validation_messages.City">
            <div class="error" *ngIf="accountDetailsForm.get('City').hasError(validation.type) && (accountDetailsForm.get('City').dirty || accountDetailsForm.get('City').touched)">{{validation.message}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="columns">
        <div class="column is-6">
          <label class="label">Fax Phone</label>
          <input class="input is-rounded" type="number" name="UserFax" formControlName="UserFax" placeholder="Fax Phone" required>
          <div *ngFor="let validation of account_validation_messages.UserPhone">
            <div class="error" *ngIf="accountDetailsForm.get('UserFax').hasError(validation.type) && (accountDetailsForm.get('UserFax').dirty || accountDetailsForm.get('UserFax').touched)">{{validation.message}}</div>
          </div>
        </div>
        <div class="column is-6">
          <label class="label">Postal / Zip</label>
          <input class="input is-rounded" type="text" name="Postalcode" formControlName="Postalcode" placeholder="Postal / Zip" required>
          <div *ngFor="let validation of account_validation_messages.Postalcode">
            <div class="error" *ngIf="accountDetailsForm.get('Postalcode').hasError(validation.type) && (accountDetailsForm.get('Postalcode').dirty || accountDetailsForm.get('Postalcode').touched)">{{validation.message}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="columns">
        <div class="column is-6">

        </div>
        <div class="column is-6">
          <label class="label">Country</label>
          <input class="input is-rounded" type="text" name="Country" formControlName="Country" placeholder="Country" required>
          <div *ngFor="let validation of account_validation_messages.Country">
            <div class="error" *ngIf="accountDetailsForm.get('Country').hasError(validation.type) && (accountDetailsForm.get('Country').dirty || accountDetailsForm.get('Country').touched)">{{validation.message}}</div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="field">
      <div class="columns">
        <div class="column is-6">
          <label class="label">Birth Date</label>
          <div class="columns">
            <div class="column">
              <label class="label">Month</label>
              <!-- <input class="input is-rounded" type="text" name="Month" formControlName="Month" placeholder="Month" required> -->
              <!-- <div *ngFor="let validation of account_validation_messages.UserDOB">
                <div class="error" *ngIf="accountDetailsForm.get('UserDOB').hasError(validation.type) && (accountDetailsForm.get('UserDOB').dirty || accountDetailsForm.get('UserDOB').touched)">{{validation.message}}</div>
              </div> -->
            </div>
            <div class="column">
              <label class="label">Day</label>
              <!-- <input class="input is-rounded" type="text" name="Day" formControlName="Day" placeholder="Day" required> -->
              <!-- <div *ngFor="let validation of account_validation_messages.UserDOB">
                <div class="error" *ngIf="accountDetailsForm.get('UserDOB').hasError(validation.type) && (accountDetailsForm.get('UserDOB').dirty || accountDetailsForm.get('UserDOB').touched)">{{validation.message}}</div>
              </div> -->
            </div>
            <div class="column">
              <label class="label">Year</label>
              <!-- <input class="input is-rounded" type="text" name="Year" formControlName="Year" placeholder="Year" required> -->
              <!-- <div *ngFor="let validation of account_validation_messages.UserDOB">
                <div class="error" *ngIf="accountDetailsForm.get('UserDOB').hasError(validation.type) && (accountDetailsForm.get('UserDOB').dirty || accountDetailsForm.get('UserDOB').touched)">{{validation.message}}</div>
              </div>  -->
            </div>
          </div>
         
        </div>
        <div class="column is-6">
          <label class="label">Gender</label>
          <br>
          <div class="columns">
            <div class="column is-6">
              <label class="radio">
                <input type="radio" name="UserGender" value="M" formControlName="UserGender" required> Male
                <div *ngFor="let validation of account_validation_messages.UserGender">
                  <div class="error" *ngIf="accountDetailsForm.get('UserGender').hasError(validation.type) && (accountDetailsForm.get('UserGender').dirty || accountDetailsForm.get('UserGender').touched)">{{validation.message}}</div>
                </div>
              </label>
            </div>
            <div class="column is-6">
              <label class="radio">
                <input type="radio" name="UserGender" value="F" formControlName="UserGender" required> Female
                <div *ngFor="let validation of account_validation_messages.UserGender">
                  <div class="error" *ngIf="accountDetailsForm.get('UserGender').hasError(validation.type) && (accountDetailsForm.get('UserGender').dirty || accountDetailsForm.get('UserGender').touched)">{{validation.message}}</div>
                </div>
              </label>
            </div>

          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="field">
      <div class="columns">
        <div class="column is-6">
          <label class="label">Parent / Guardian1</label>
          <input class="input is-rounded" type="text" name="Guardian1Name" formControlName="Guardian1Name" placeholder="Parent /Guardian" required>
          <div *ngFor="let validation of account_validation_messages.UserLastName">
            <div class="error" *ngIf="accountDetailsForm.get('Guardian1Name').hasError(validation.type) && (accountDetailsForm.get('Guardian1Name').dirty || accountDetailsForm.get('Guardian1Name').touched)">{{validation.message}}</div>
          </div>

        </div>
        <div class="column is-6">
          <label class="label">Gardian 1 Relation</label>
          <input class="input is-rounded" type="text" name="Guardian1Relationship" formControlName="Guardian1Relationship" placeholder="Gardian 1 Relation"
            required>
          <div *ngFor="let validation of account_validation_messages.UserFirstName">
            <div class="error" *ngIf="accountDetailsForm.get('Guardian1Relationship').hasError(validation.type) && (accountDetailsForm.get('Guardian1Relationship').dirty || accountDetailsForm.get('Guardian1Relationship').touched)">{{validation.message}}</div>
          </div>
        </div>

      </div>
    </div>
    <div class="field">
      <div class="columns">
        <div class="column is-6">
          <label class="label">Guardian2</label>
          <input class="input is-rounded" type="text" name="Guardian2Name" formControlName="Guardian2Name" placeholder="Guardian2" required>
          <div *ngFor="let validation of account_validation_messages.UserLastName">
            <div class="error" *ngIf="accountDetailsForm.get('Guardian2Name').hasError(validation.type) && (accountDetailsForm.get('Guardian2Name').dirty || accountDetailsForm.get('Guardian2Name').touched)">{{validation.message}}</div>
          </div>
        </div>
        <div class="column is-6">
          <label class="label">Gardian 2 Relation</label>
          <input class="input is-rounded" type="text" name="Guardian2Relationship" formControlName="Guardian2Relationship" placeholder="Gardian 2 Relation"
            required>
          <div *ngFor="let validation of account_validation_messages.UserFirstName">
            <div class="error" *ngIf="accountDetailsForm.get('Guardian2Relationship').hasError(validation.type) && (accountDetailsForm.get('Guardian2Relationship').dirty || accountDetailsForm.get('Guardian2Relationship').touched)">{{validation.message}}</div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="field">
      <div class="columns">
        <div class="column is-12">
          <label class="label">Personal Health Number</label>
          <input class="input is-rounded" type="text" name="PersonalHealthNumber" formControlName="PersonalHealthNumber" placeholder="Personal Health Number"
            required>
          <div *ngFor="let validation of account_validation_messages.UserFirstName">
            <div class="error" *ngIf="accountDetailsForm.get('PersonalHealthNumber').hasError(validation.type) && (accountDetailsForm.get('PersonalHealthNumber').dirty || accountDetailsForm.get('PersonalHealthNumber').touched)">{{validation.message}}</div>
          </div>
        </div>

      </div>
    </div>
    <hr>
    <div class="field">
      <div class="columns">
        <div class="column is-6">
          <label class="label">Family Doctor</label>
          <input class="input is-rounded" type="text" name="FamilyDoctorName" formControlName="FamilyDoctorName" placeholder="Family Doctor"
            required>
          <div *ngFor="let validation of account_validation_messages.UserFirstName">
            <div class="error" *ngIf="accountDetailsForm.get('FamilyDoctorName').hasError(validation.type) && (accountDetailsForm.get('FamilyDoctorName').dirty || accountDetailsForm.get('FamilyDoctorName').touched)">{{validation.message}}</div>
          </div>
        </div>
        <div class="column is-6">
          <div class="columns">
            <div class="column">
              <label class="label">Email</label>
              <input class="input is-rounded" type="text" name="FamilyDoctorEmail" formControlName="FamilyDoctorEmail" placeholder="Doctor Email" required>
              <div *ngFor="let validation of account_validation_messages.UserEmail">
                <div class="error" *ngIf="accountDetailsForm.get('FamilyDoctorEmail').hasError(validation.type) && (accountDetailsForm.get('FamilyDoctorEmail').dirty || accountDetailsForm.get('FamilyDoctorEmail').touched)">{{validation.message}}</div>
              </div>
            </div>
            <div class="column">
              <label class="label">Phone</label>
              <input class="input is-rounded" type="text" name="FamilyDoctorPhone" formControlName="FamilyDoctorPhone" placeholder="Doctor Phone" required>
              <div *ngFor="let validation of account_validation_messages.UserPhone">
                <div class="error" *ngIf="accountDetailsForm.get('FamilyDoctorPhone').hasError(validation.type) && (accountDetailsForm.get('FamilyDoctorPhone').dirty || accountDetailsForm.get('FamilyDoctorPhone').touched)">{{validation.message}}</div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <hr>
    <div class="field">
      <div class="columns">
        <div class="column is-6">
          <label class="label">Refering Proffessional</label>
          <input class="input is-rounded" type="text" name="RefferringProfessinalName" formControlName="RefferringProfessinalName" placeholder="Refering Proffessional"
            required>
          <div *ngFor="let validation of account_validation_messages.UserFirstName">
            <div class="error" *ngIf="accountDetailsForm.get('RefferringProfessinalName').hasError(validation.type) && (accountDetailsForm.get('RefferringProfessinalName').dirty || accountDetailsForm.get('RefferringProfessinalName').touched)">{{validation.message}}</div>
          </div>
        </div>
        <div class="column is-6">
          <div class="columns">
            <div class="column">
              <label class="label">Email</label>
              <input class="input is-rounded" type="text" name="RefferringProfessinalEmail" formControlName="RefferringProfessinalEmail" placeholder="Refering Email"
                required>
              <div *ngFor="let validation of account_validation_messages.UserEmail">
                <div class="error" *ngIf="accountDetailsForm.get('RefferringProfessinalEmail').hasError(validation.type) && (accountDetailsForm.get('RefferringProfessinalEmail').dirty || accountDetailsForm.get('RefferringProfessinalEmail').touched)">{{validation.message}}</div>
              </div>
            </div>
            <div class="column">
              <label class="label">Phone</label>
              <input class="input is-rounded" type="text" name="RefferringProfessinalPhone" formControlName="RefferringProfessinalPhone" placeholder="Refering Phone"
                required>
              <div *ngFor="let validation of account_validation_messages.UserPhone">
                <div class="error" *ngIf="accountDetailsForm.get('RefferringProfessinalPhone').hasError(validation.type) && (accountDetailsForm.get('RefferringProfessinalPhone').dirty || accountDetailsForm.get('RefferringProfessinalPhone').touched)">{{validation.message}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="field">
      <div class="columns">
        <div class="column is-6">
          <label class="label">Emergency Contact</label>
          <input class="input is-rounded" type="text" name="EmergencyContactName" formControlName="EmergencyContactName" placeholder="Emergency Contact"
            required>
          <div *ngFor="let validation of account_validation_messages.UserFirstName">
            <div class="error" *ngIf="accountDetailsForm.get('EmergencyContactName').hasError(validation.type) && (accountDetailsForm.get('EmergencyContactName').dirty || accountDetailsForm.get('EmergencyContactName').touched)">{{validation.message}}</div>
          </div>
        </div>
        <div class="column is-6">
          <div class="columns">
            <div class="column">
              <label class="label">RelationShip</label>
              <input class="input is-rounded" type="text" name="EmergencyContactRelationship" formControlName="EmergencyContactRelationship" placeholder="Emergency Relationship"
                required>
              <div *ngFor="let validation of account_validation_messages.UserFirstName">
                <div class="error" *ngIf="accountDetailsForm.get('EmergencyContactRelationship').hasError(validation.type) && (accountDetailsForm.get('EmergencyContactRelationship').dirty || accountDetailsForm.get('EmergencyContactRelationship').touched)">{{validation.message}}</div>
              </div>
            </div>
            <div class="column">
              <label class="label">Phone</label>
              <input class="input is-rounded" type="text" name="EmergencyContactPhone" formControlName="EmergencyContactPhone" placeholder="Emergency Phone"
                required>
              <div *ngFor="let validation of account_validation_messages.UserPhone">
                <div class="error" *ngIf="accountDetailsForm.get('EmergencyContactPhone').hasError(validation.type) && (accountDetailsForm.get('EmergencyContactPhone').dirty || accountDetailsForm.get('EmergencyContactPhone').touched)">{{validation.message}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="field">
      <div class="columns">
        <div class="column">
          <label class="label">Occupation </label>
          <input class="input is-rounded" type="text" name="Occupation" formControlName="Occupation" placeholder="Occupation" required>
          <div *ngFor="let validation of account_validation_messages.UserLastName">
            <div class="error" *ngIf="accountDetailsForm.get('Occupation').hasError(validation.type) && (accountDetailsForm.get('Occupation').dirty || accountDetailsForm.get('Occupation').touched)">{{validation.message}}</div>
          </div>
        </div>
        <hr>

        <div class="column">
          <label class="label">Employer </label>
          <input class="input is-rounded" type="text" name="Employer" formControlName="Employer" placeholder="Employer" required>
          <div *ngFor="let validation of account_validation_messages.UserLastName">
            <div class="error" *ngIf="accountDetailsForm.get('Employer').hasError(validation.type) && (accountDetailsForm.get('Employer').dirty || accountDetailsForm.get('Employer').touched)">{{validation.message}}</div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="field">
      <div class="columns">
        <div class="column is-12">
          <label class="label">Profile Photo</label>
          <input class="input is-rounded" type="text" name="UserImageURL" formControlName="UserImageURL" placeholder="ImageUrl" required>
          <!-- <div *ngFor="let validation of account_validation_messages.UserFirstName">
            <div class="error" *ngIf="accountDetailsForm.get('UserImageURL').hasError(validation.type) && (accountDetailsForm.get('UserImageURL').dirty || accountDetailsForm.get('UserImageURL').touched)">{{validation.message}}</div>
          </div> -->
          <hr>
        </div>

      </div>
    </div>
    <br>
    <div class="field is-grouped">
      <div class="control">
        <button class="button is-link" type="submit">Save</button>
      </div>

    </div>
  </form>
</div>