<div class="column is-3">
</div>
<div class="container column is-6">
  <div class="columns">
    <div class="column ">
      <div class="card">
        <div class="card-content">
          <ul class="tabs columns">
            <li class="tabs column is-3 ">
              <a routerLink='/login' routerLinkActive='active'>Sign In</a>
            </li>
            <li class="tabs column is-3">
              <a routerLink='/signup' routerLinkActive='active'>Sign Up</a>
            </li>

            <li class="tabs column is-3 ">
              <a routerLink='/clinic' routerLinkActive='active'> new Company</a>
            </li>
            <li class="tabs column is-3 ">
              <a routerLink='/newClinic' routerLinkActive='active'> new Clinic</a>
            </li>
          </ul>
        </div>
        <div class="card-content">
          <div>
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="column is-3">
</div>