<div *ngIf="listOfCharts">
  <ul class="panel panel-info">
    <li class="panel-heading" *ngFor="let chart of charts;let i = index" (click)=" chartInfo(chart)">
      chart name: {{chart.chartTemplateName}}
      <br /> visit time: {{chart.visitTime}} </li>
  </ul>

</div>
<div class="column is-12 has-text-centered" id="main-content" *ngIf="chart">
  <div>
    <button style="float: right;" (click)="backToCharts()"> Back To list Of Charts</button>
  </div>
  <br>
  <hr>
  <div>
    <form #chartForm="ngForm" novalidate (ngSubmit)="OnSubmit(chartForm)">

      <div class="field">
        <div class="control">
          <label class="label">TemplateName : </label>
          <input class="input is-rounded" type="text" name="TemplateName" placeholder="Template Name" [(ngModel)]="templateName" readonly>
        </div>
      </div>
      <hr>
      <div>
        <div class="container" id="dropZone">
          {{chartValue | json}}
          <hr>
          <ul class="columns" *ngIf="data">
            <li *ngFor="let field of chartValue  , let i = index" [attr.data-target]="i" [ngSwitch]="field.chartItemName">

              <div class="field" *ngIf="field.chartItemName == 'text'">
                <div class="control">
                  <label class="label">{{field.chartItemName}}</label>
                  <input class="input is-rounded" type="text" name="data[{{field.chartTemplateChartItemID}}][{{i}}]" [value]="field.value"
                    [(ngModel)]="field.value" placeholder="{{field.chartItemName}}" required>
                </div>
              </div>

              <div class="field" *ngIf="field.chartItemName == 'img'">
                <div class="control">
                  <label class="label">{{field.chartItemName}}</label>
                  <input type="file" class="input is-rounded" name="data[{{field.chartTemplateChartItemID}}][{{i}}]" (change)="handleFileInput($event.target.files)"
                  /> 

                  <img style="width: 250px;height: 250px; background-color: rgb(172, 167, 156)" [src]="field.value">

                </div>
              </div>
              <div class="field" *ngIf="field.chartItemName == 'file'">
                <div class="control">
                  <label class="label">{{field.chartItemName}}</label>
                  <input type="file" class="input is-rounded" name="data[{{field.chartTemplateChartItemID}}][{{i}}]" [(ngModel)]="field.value"
                    [value]="field.value" />
                </div>
              </div>

              <div class="field" *ngIf="field.chartItemName == 'textArea'">
                <div class="control">
                  <label class="label">{{field.chartItemName}}</label>
                  <textarea class="input is-rounded" name="data[{{field.chartTemplateChartItemID}}][{{i}}]" [(ngModel)]="field.value" [value]="field.value"
                    rows="4"></textarea>
                </div>
              </div>

              <div class="field" *ngIf="field.chartItemName == 'date'">
                <div class="control">
                  <label class="label">{{field.chartItemName}}</label>
                  <div class="has-feedback">
                    <input type="date" class="input is-rounded" placeholder="{{field.Name}}" name="data[{{field.chartTemplateChartItemID}}][{{i}}]"
                      [(ngModel)]="field.value" [value]="field.value">
                    <span class="glyphicon glyphicon-calendar form-control-feedback custom-feedback" aria-hidden="true"></span>
                  </div>
                </div>
              </div>

              <div class="field" *ngIf="field.chartItemName == 'dropdown'">
                <div class="control">
                  <label class="label">{{field.chartItemName}}</label>
                  <select class="form-control">
                    <option *ngFor="let val of field.GetFieldSetting('Choice').PossibleValue">
                      {{val.Text}}
                    </option>
                  </select>
                </div>
              </div>

              <br>
              <div *ngSwitchDefault>
              </div>
            </li>
          </ul>
        </div>

      </div>

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-link" type="submit">Submit</button>
        </div>

      </div>
    </form>
  </div>

</div>