<div class=" container column is-10">
  <form #clinicForm="ngForm" [formGroup]="accountDetailsForm" (ngSubmit)="OnSubmit(clinicForm)">


    <div class="field">
      <label class="label">Clinic Company Name</label>
      <div class="control">
        <input class="input is-rounded" type="text" name="ClinicCompanyName" placeholder="Clinic Company Name" formControlName="ClinicCompanyName"
          required>
        <div *ngFor="let validation of account_validation_messages.UserNickName">
          <div class="error" *ngIf="accountDetailsForm.get('ClinicCompanyName').hasError(validation.type) && (accountDetailsForm.get('ClinicCompanyName').dirty || accountDetailsForm.get('ClinicCompanyName').touched)">{{validation.message}}</div>
        </div>
      </div>
    </div>
    <div class="field">
      <label class="label">Clinic Phone Number</label>
      <div class="control">
        <input class="input is-rounded" type="number" name="ClinicPhoneNumber" placeholder="Clinic Phone Number" formControlName="ClinicPhoneNumber"
          minlength="9" maxlength="9" required>
        <div *ngFor="let validation of account_validation_messages.UserPhone">
          <div class="error" *ngIf="accountDetailsForm.get('ClinicPhoneNumber').hasError(validation.type) && (accountDetailsForm.get('ClinicPhoneNumber').dirty || accountDetailsForm.get('ClinicPhoneNumber').touched)">{{validation.message}}</div>
        </div>
      </div>
    </div>
    <div class="field">
      <label class="label">Clinic Email Address</label>
      <div class="control">
        <input class="input is-rounded" type="email" placeholder="Clinic Email" name="ClinicEmail" formControlName="ClinicEmail"
          required>
        <div *ngFor="let validation of account_validation_messages.userEmail">
          <div class="error" *ngIf="accountDetailsForm.get('ClinicEmail').hasError(validation.type) && (accountDetailsForm.get('ClinicEmail').dirty || accountDetailsForm.get('ClinicEmail').touched)">{{validation.message}}</div>
        </div>
      </div>
    </div>
    <div class="field">
      <label class="label">Password</label>
      <div class="control">
        <input class="input is-rounded" type="password" name="Password" placeholder="Password" formControlName="Password" required>
        <div *ngFor="let validation of account_validation_messages.Password">
          <div class="error" *ngIf="accountDetailsForm.get('Password').hasError(validation.type) && (accountDetailsForm.get('Password').dirty || accountDetailsForm.get('Password').touched)">{{validation.message}}</div>
        </div>
      </div>
    </div>
    <div class="field">
      <label class="label">Confirm Password</label>
      <div class="control">
        <input class="input is-rounded" type="password" name="confirmPassword" placeholder="confirmPassword" formControlName="confirmPassword"
          required>
        <div *ngFor="let validation of account_validation_messages.confirmPassword">
          <div class="error" *ngIf="accountDetailsForm.get('confirmPassword').hasError(validation.type) && (accountDetailsForm.get('confirmPassword').dirty || accountDetailsForm.get('confirmPassword').touched)">{{validation.message}}</div>
        </div>
      </div>
    </div>
    <div class="field">
      <label class="label">Clinic WebSite</label>
      <div class="control">
        <input class="input is-rounded" type="text" name="ClinicWebSite" placeholder="ClinicWebSite" formControlName="ClinicWebSite"
          required>
        <div *ngFor="let validation of account_validation_messages.website">
          <div class="error" *ngIf="accountDetailsForm.get('ClinicWebSite').hasError(validation.type) && (accountDetailsForm.get('ClinicWebSite').dirty || accountDetailsForm.get('ClinicWebSite').touched)">{{validation.message}}</div>
        </div>
      </div>
    </div>



    <br>
    <div class="field is-grouped">
      <div class="control">
        <button class="button is-link" type="submit">Next</button>
      </div>

    </div>
  </form>
</div>