<div *ngIf="flag">
    <form name="addApplication" role="form">
        <div>
            <p> Employee Info </p>
            <br />
        </div>
        <div class="field">
            <label for="FirstName">
                <b>First Name </b>
            </label>
            <div class="control">
                <input class="input is-rounded" type="text" style="width:100%" name="userFirstName" [(ngModel)]="employeeInfo.userFirstName"
                    [readonly]="true" />
            </div>
        </div>
        <div class="field">
            <label for="LastName">
                <b>Last Name</b>
            </label>
            <div class="control">
                <input class="input is-rounded" type="text" style="width:100%" name="userLastName" [(ngModel)]="employeeInfo.userLastName"
                    [readonly]="true" />
            </div>
        </div>
        <div class="field">
            <label for="Email">
                <b>Email</b>
            </label>
            <div class="control">
                <input class="input is-rounded" type="text" style="width:100%" name="userEmail" [(ngModel)]="employeeInfo.userEmail" [readonly]="true"
                />
            </div>
        </div>
    </form>
    <button type="button" routerLink='{{employeeInfo.userEmail}}' routerLinkActive='active' class="button is-info is-rounded">Edit</button>
    <button type="button" (click)="Deactivate(employeeInfo.userEmail)" class="button is-danger is-rounded">Deactivate</button>
</div>