<div class="column is-10">
    <ol *ngFor="let emp of emplist">
        <a style="cursor:pointer;">
            <li routerLink="{{emp.userEmail}}" routerLinkActive="active"> {{emp.userFirstName}} {{emp.userLastName}}</li>
        </a>
    </ol>
</div>
