<div class="columns">
  <div id="container" [@listAnimation]="length" class="column is-2">

    <div id="list" *ngFor="let patient of AllPatient">
      <a routerLink='{{patient.patientEmail}}' routerLinkActive='active' (click)="go()"> {{ patient.patientFirstName }}</a>
    </div>

  </div>
  <div class="column is-10">

    <router-outlet></router-outlet>
  </div>
</div>
