<div class=" container column is-10" *ngIf="staff">


  <label class="label" style="font-size:25px ">Edit Staff Profile </label>


  <hr>
  <form #userRegistrationForm="ngForm" novalidate [formGroup]="accountDetailsForm" (ngSubmit)="OnSubmit(userRegistrationForm)">
    <div class="field">
      <div class="columns">
        <div class="column is-6">
          <label class="label">First Name</label>
          <input class="input is-rounded" type="text" name="UserFirstName" placeholder="First Name" formControlName="UserFirstName"
            required>
          <div *ngFor="let validation of account_validation_messages.UserFirstName">
            <div class="error" *ngIf="accountDetailsForm.get('UserFirstName').hasError(validation.type) && (accountDetailsForm.get('UserFirstName').dirty || accountDetailsForm.get('UserFirstName').touched)">{{validation.message}}</div>
          </div>
        </div>
        <div class="column is-6">
          <label class="label">Last Name</label>
          <input class="input is-rounded" type="text" name="UserLastName" placeholder="Last Name" formControlName="UserLastName" required>
          <div *ngFor="let validation of account_validation_messages.UserLastName">
            <div class="error" *ngIf="accountDetailsForm.get('UserLastName').hasError(validation.type) && (accountDetailsForm.get('UserLastName').dirty || accountDetailsForm.get('UserLastName').touched)">{{validation.message}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="columns">
        <div class="column is-6">
          <label class="label">Nick Name</label>
          <input class="input is-rounded" type="text" name="UserNickName" placeholder="Nick Name" formControlName="UserNickName" required>
          <div *ngFor="let validation of account_validation_messages.UserNickName">
            <div class="error" *ngIf="accountDetailsForm.get('UserNickName').hasError(validation.type) && (accountDetailsForm.get('UserNickName').dirty || accountDetailsForm.get('UserNickName').touched)">{{validation.message}}</div>
          </div>
        </div>
        <div class="column is-6">
          <label class="label">Gender</label>
          <div class="columns">
            <div class="column is-6">
              <label class="radio">
                <input type="radio" name="UserGender" value="M" formControlName="UserGender" required> Male
                <div *ngFor="let validation of account_validation_messages.UserGender">
                  <div class="error" *ngIf="accountDetailsForm.get('UserGender').hasError(validation.type) && (accountDetailsForm.get('UserGender').dirty || accountDetailsForm.get('UserGender').touched)">{{validation.message}}</div>
                </div>
              </label>
            </div>
            <div class="column is-6">
              <label class="radio">
                <input type="radio" name="UserGender" value="F" formControlName="UserGender" required> Female
                <div *ngFor="let validation of account_validation_messages.UserGender">
                  <div class="error" *ngIf="accountDetailsForm.get('UserGender').hasError(validation.type) && (accountDetailsForm.get('UserGender').dirty || accountDetailsForm.get('UserGender').touched)">{{validation.message}}</div>
                </div>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="columns">
        <div class="column is-6">
          <label class="label">Prefix</label>
          <div class="columns">
            <div class="column is-12">
              <div class="control">
                <div class="select is-rounded">
                  <select class="form-control" formControlName="UserPrefix">
                    <option value="" disabled selected readonly>Select Prefix...</option>
                    <option *ngFor="let choosenRole of Prefix" [value]="choosenRole" [selected]="choosenRole == UserPrefix">{{choosenRole}}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-6">
          <label class="label">Role</label>
          <input class="input is-rounded" type="text" placeholder="Role" fromControlName="Discriminator" required>
          <div *ngFor="let validation of account_validation_messages.UserLastName">
            <div class="error" *ngIf="accountDetailsForm.get('Discriminator').hasError(validation.type) && (accountDetailsForm.get('Discriminator').dirty || accountDetailsForm.get('Discriminator').touched)">{{validation.message}}</div>
          </div>
        </div>
      </div>
    </div>

    <hr>
    <label class="label">Contact Info </label>
    <br>
    <div class="field">
      <div class="columns">
        <div class="column is-6">
          <label class="label">Email</label>
          <div class="control">
            <input class="input is-rounded" type="email" placeholder="Email" name="UserEmail" formControlName="UserEmail" readonly>
            <div *ngFor="let validation of account_validation_messages.UserEmail">
              <div class="error" *ngIf="accountDetailsForm.get('UserEmail').hasError(validation.type) && (accountDetailsForm.get('UserEmail').dirty || accountDetailsForm.get('UserEmail').touched)">{{validation.message}}</div>
            </div>
          </div>
        </div>
        <div class="column is-6">
          <label class="label">Street Address</label>
          <input class="input is-rounded" type="text" name="Street" placeholder="Street" formControlName="Street" required>
          <div *ngFor="let validation of account_validation_messages.Street">
            <div class="error" *ngIf="accountDetailsForm.get('Street').hasError(validation.type) && (accountDetailsForm.get('Street').dirty || accountDetailsForm.get('Street').touched)">{{validation.message}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="columns">
        <div class="column is-6">
          <label class="label">Home Phone</label>
          <div class="control">
            <input class="input is-rounded" placeholder="Home Phone" required>
            <div *ngFor="let validation of account_validation_messages.UserEmail">
              <div class="error" *ngIf="accountDetailsForm.get('UserEmail').hasError(validation.type) && (accountDetailsForm.get('UserEmail').dirty || accountDetailsForm.get('UserEmail').touched)">{{validation.message}}</div>
            </div>
          </div>
        </div>
        <div class="column is-6">
          <label class="label">State</label>
          <input class="input is-rounded" type="text" name="State" placeholder="State" formControlName="State" required>
          <div *ngFor="let validation of account_validation_messages.State">
            <div class="error" *ngIf="accountDetailsForm.get('State').hasError(validation.type) && (accountDetailsForm.get('State').dirty || accountDetailsForm.get('State').touched)">{{validation.message}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="columns">
        <div class="column is-6">
          <label class="label">Mobile Phone</label>
          <div class="control">
            <input class="input is-rounded" type="number" name="userMobilePhone" placeholder="Phone Number" formControlName="userMobilePhone" minlength="9"
              maxlength="9" required>
            <div *ngFor="let validation of account_validation_messages.UserPhone">
              <div class="error" *ngIf="accountDetailsForm.get('userMobilePhone').hasError(validation.type) && (accountDetailsForm.get('userMobilePhone').dirty || accountDetailsForm.get('userMobilePhone').touched)">{{validation.message}}</div>
            </div>
          </div>
        </div>
        <div class="column is-6">
          <label class="label">City</label>
          <input class="input is-rounded" type="text" name="City" placeholder="City" formControlName="City" required>
          <div *ngFor="let validation of account_validation_messages.City">
            <div class="error" *ngIf="accountDetailsForm.get('City').hasError(validation.type) && (accountDetailsForm.get('City').dirty || accountDetailsForm.get('City').touched)">{{validation.message}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="columns">
        <div class="column is-6">
          <label class="label">Work Phone</label>
          <div class="control">
            <input class="input is-rounded" type="number" placeholder="Work Number" minlength="9" maxlength="9" required>
            <div *ngFor="let validation of account_validation_messages.UserPhone">
              <div class="error" *ngIf="accountDetailsForm.get('userMobilePhone').hasError(validation.type) && (accountDetailsForm.get('userMobilePhone').dirty || accountDetailsForm.get('userMobilePhone').touched)">{{validation.message}}</div>
            </div>
          </div>
        </div>
        <div class="column is-6">
          <label class="label">Postal /Zip</label>
          <input class="input is-rounded" type="number" name="Postalcode" placeholder="Postal Code /Zip" formControlName="Postalcode"
            maxlength="5" minlength="2" required>
          <div *ngFor="let validation of account_validation_messages.Postalcode">
            <div class="error" *ngIf="accountDetailsForm.get('Postalcode').hasError(validation.type) && (accountDetailsForm.get('Postalcode').dirty || accountDetailsForm.get('Postalcode').touched)">{{validation.message}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="columns">
        <div class="column is-6">
          <label class="label">Fax Phone</label>
          <div class="control">
            <input class="input is-rounded" type="number" placeholder="Fax Number" minlength="9" maxlength="9" required>
            <div *ngFor="let validation of account_validation_messages.UserPhone">
              <div class="error" *ngIf="accountDetailsForm.get('userMobilePhone').hasError(validation.type) && (accountDetailsForm.get('userMobilePhone').dirty || accountDetailsForm.get('userMobilePhone').touched)">{{validation.message}}</div>
            </div>
          </div>
        </div>
        <div class="column is-6">
          <label class="label">Country</label>
          <input class="input is-rounded" type="text" name="Country" placeholder="Country" formControlName="Country" required>
          <div *ngFor="let validation of account_validation_messages.Country">
            <div class="error" *ngIf="accountDetailsForm.get('Country').hasError(validation.type) && (accountDetailsForm.get('Country').dirty || accountDetailsForm.get('Country').touched)">{{validation.message}}</div>
          </div>
        </div>
      </div>
    </div>

    <br>
    <div class="field is-grouped">
      <div class="control">
        <button class="button is-link" type="submit">Submit</button>
      </div>

    </div>
  </form>
</div>