<div *ngIf="user">
  <!-- Page Container -->
  <div class="w3-content w3-margin-top" style="max-width:1400px;">

    <!-- The Grid -->
    <div class="w3-row-padding">

      <!-- Left Column -->
      <div class="w3-third">

        <div class="w3-white w3-text-grey w3-card-4">
          <div class="w3-display-container">
            <img src="https://www.eharmony.co.uk/dating-advice/wp-content/uploads/2011/04/profilephotos-960x640.jpg" style="width:100%"
              alt="Avatar">

          </div>
          <div class="w3-container">
            <p>
              <i class="fa fa-user fa-fw w3-margin-right w3-large w3-text-teal"></i>{{ patientInfo.userFirstName |titlecase}} {{ patientInfo.userLastName |titlecase}}</p>
            <p>
              <i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>{{patientInfo.country |titlecase}} - {{patientInfo.city |titlecase}}</p>
            <p>
              <i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>{{patientInfo.userEmail |titlecase}}</p>
            <p>
              <i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>{{patientInfo.userMobilePhone}}</p>
            <hr>

            <p routerLink='edit' routerLinkActive='active'>
              <i class="fa fa-gears fa-fw w3-margin-right w3-large w3-text-teal"></i>Edit - Settings</p>
            <p routerLink='addchart' routerLinkActive='active'>
              <i class="fa fa-keyboard-o fa-fw w3-margin-right w3-large w3-text-teal"></i>Add Chart</p>
            <p routerLink='allchart' routerLinkActive='active'>
              <i class="fa fa-leaf fa-fw w3-margin-right w3-large w3-text-teal"></i>All Charts</p>
            <p routerLink='allchart' routerLinkActive='active' *ngIf="staff">
              <i class="fa fa-unlock fa-fw w3-margin-right w3-large w3-text-teal"></i>Reset Password</p>
            <p routerLink='allchart' routerLinkActive='active' *ngIf="patient">
              <i class="fa fa-unlock fa-fw w3-margin-right w3-large w3-text-teal"></i>Change Password</p>
            <p (click)="Deactivate(patientInfo.userEmail)">
              <i class="fa fa-unlink fa-fw w3-margin-right w3-large w3-text-teal"></i>Deactivate Account</p>
            <br>
          </div>
        </div>
        <br>

        <!-- End Left Column -->
      </div>

      <!-- Right Column -->
      <div class="w3-twothird">
        <br>
        <div class="columns">
          <div class="column">
            <div>{{upcommingLength}}</div>
            Upcoming Appointments</div>
          <div class="column">
            <div>{{allAppointment}}</div>
            All Appointments</div>
        </div>
        <hr>
        <div class="w3-container w3-card w3-white">
          <router-outlet></router-outlet>
        </div>
        <!-- End Right Column -->
      </div>
      <!-- End Grid -->
    </div>
    <!-- End Page Container -->
  </div>

  <footer class="w3-container w3-teal w3-center w3-margin-top">
    <p>Find me on social media.</p>

    <i class="fa fa-linkedin w3-hover-opacity"></i>
    <p>Powered by
      <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a>
    </p>
  </footer>
</div>