<br>
<div *ngIf="listOfAppointment">

  <ul class="panel panel-info">
    <li class="panel-heading" *ngFor="let appointment of appointments;let i = index" (click)="showListTemplate(appointment)">
      {{appointment.title}}
      <br>
      <br> {{appointment.startDate}} - {{appointment.endDate}}
    </li>
  </ul>

</div>

<div *ngIf="listOfTemplates">

  <div>
    <button style="float: right;" (click)="backToAppointment()"> Back To list Of Appointments</button>
  </div>
  <br>
  <hr>
  <div>
    <ul class="panel panel-info">
      <li class="panel-heading" *ngFor="let chart of charts;let i = index" (click)="showChart(chart.chartTemplateID)">
        {{chart.chartTemplateName}}
      </li>
    </ul>
  </div>
</div>


<div class="column is-12 has-text-centered" id="main-content" *ngIf="chart">
  <div>
    <button style="float: right;" (click)="backToTemplates()"> Back To list Of Templates</button>
  </div>
  <br>
  <hr>
  <div>
    <form #chartForm="ngForm" novalidate (ngSubmit)="OnSubmit(chartForm)" *ngIf="items">

      <div class="field">
        <div class="control">
          <label class="label">TemplateName : </label>
          <input class="input is-rounded" type="text" name="TemplateName" placeholder="Template Name" [(ngModel)]="TemplateName" readonly>
        </div>
      </div>
      <hr>
      <div>
        <div class="container" id="dropZone">
          <ul class="columns" *ngIf="data">
            <li *ngFor="let field of allItems , let i = index" [attr.data-target]="i" [ngSwitch]="field.chartItemName">

              <div class="field" *ngSwitchCase="'text'">
                <div class="control">
                  <label class="label">{{field.label}}</label>
                  <input class="input is-rounded" type="text" name="textBox" [(ngModel)]="data['7'][i]" placeholder="{{field.chartItemName}}"
                    required>
                </div>
              </div>

              <div class="field" *ngSwitchCase="'img'">
                <div class="control">
                  <label class="label">{{field.label}}</label>
                  <input type="file" class="input is-rounded" name="image" [(ngModel)]="data['3'][i]" (change)="handleFileInput($event.target.files , i)"
                  />
                  <img style="width: 250px;height: 250px; background-color:  rgb(172, 167, 156)" [src]="image['img'][i]">
                </div>
              </div>

              <div class="field" *ngSwitchCase="'file'">
                <div class="control">
                  <label class="label">{{field.label}}</label>
                  <input type="file" class="input is-rounded" name="uploadfile" [(ngModel)]="data['9'][i]" />
                </div>
              </div>

              <div class="field" *ngSwitchCase="'textArea'">
                <div class="control">
                  <label class="label">{{field.label}}</label>
                  <textarea class="input is-rounded" name="textArea" [(ngModel)]="data['6'][i]" rows="4"></textarea>
                </div>
              </div>

              <div class="field" *ngSwitchCase="'date'">
                <div class="control">
                  <label class="label">{{field.label}}</label>
                  <div class="has-feedback">
                    <input type="date" class="input is-rounded" placeholder="{{field.Name}}" name="date" [(ngModel)]="data['8'][i]">
                    <span class="glyphicon glyphicon-calendar form-control-feedback custom-feedback" aria-hidden="true"></span>
                  </div>
                </div>
              </div>

              <div class="field" *ngSwitchCase="'dropdown'">
                <div class="control">
                  <label class="label">{{field.label}}</label>
                  <select class="form-control">
                    <option *ngFor="let val of field.GetFieldSetting('Choice').PossibleValue">
                      {{val.Text}}
                    </option>
                  </select>
                </div>
              </div>

              <br>
              <div *ngSwitchDefault>
              </div>
            </li>
          </ul>
        </div>

      </div>

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-link" type="submit">Submit</button>
        </div>

      </div>
    </form>
  </div>

</div>