<nav class="navbar is-transparent is-primary">
  <div class="navbar-brand">
    <a class="navbar-item" href="/home">
      #### </a>
    <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" routerLink="/home" routerLinkActive='active'>
        Home
      </a>
      <a class="navbar-item" routerLink='/gridPatient' routerLinkActive='active' *ngIf="Employee" (click)="patientList()">
        Patient
      </a>
      <a class="navbar-item" routerLink='/gridEmployee' routerLinkActive='active' *ngIf="Employee" (click)="employee()">
        Staff
      </a>
      <!-- <a class="navbar-item" routerLink='/chart' routerLinkActive='active' *ngIf="Employee">
        chart
      </a> -->
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <!-- <p class="control">
            <a class="navbar-item" routerLink='/mainPage' routerLinkActive='active' *ngIf="Employee" (click)="mainPage()">

              main Page
            </a>
          </p> -->

          <!-- <p class="control">
            <a class="navbar-item" routerLink='/listOfEmployee' routerLinkActive='active' *ngIf="Employee" (click)="employee()">
              <span>Staff</span>
            </a>
          </p> -->

          <p class="control" *ngIf="user">
            <a class="navbar-item" routerLinkActive='active' (click)="profile()"> Welcome {{username}}</a>
          </p>
          <p class="control">
            <a class="navbar-item" (click)="Logout()">
              <span>Logout</span>
            </a>
          </p>

        </div>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>