<dx-scheduler id="scheduler" [dataSource]="Appointments" [views]="['day', 'week', 'timelineDay']" currentView="week" [firstDayOfWeek]="0"
  [startDayHour]="8" [endDayHour]="18" [showAllDayPanel]="false" [currentDate]="currentDate" [crossScrollingEnabled]="true"
  [cellDuration]="30" [height]="600" appointmentTemplate="appointment-template" appointmentTooltipTemplate="tooltip-template"
  (onAppointmentFormCreated)="onAppointmentFormCreated($event)" (onAppointmentAdded)="onAppointmentAdded($event)" (onAppointmentUpdated)="onAppointmentUpdated($event)"
  (onAppointmentDeleted)="onAppointmentDeleted($event)">

  <dxi-resource fieldExpr="movieId" [useColorAsDefault]="true" [dataSource]="AppointmentType">
  </dxi-resource>
  <dxi-resource fieldExpr="doctorId" [useColorAsDefault]="true" [dataSource]="DoctorInfo">
  </dxi-resource>
  <dxi-resource fieldExpr="patientId" [useColorAsDefault]="true" [dataSource]="PatientInfo">
  </dxi-resource>
  <!-- <dxi-resource *ngIf="chair" fieldExpr="theatreId" [dataSource]="theatreData">
  </dxi-resource> -->

  <div *dxTemplate="let showtime of 'appointment-template'">
    <div class='showtime-preview'>
      <!-- <div>{{getAppointmentById(showtime.appointmentTypeID).title}}</div>  -->

      <div class='dropdown-appointment-dates'>
        {{(showtime.startDate | date:'shortTime') + ' - ' + (showtime.endDate | date:'shortTime')}}
      </div>
    </div>
  </div>

  <div *dxTemplate="let showtime of 'tooltip-template'">
    <div class='movie-tooltip'>
      <div class='movie-info'>
        <!-- <div class='movie-title'>
          {{getMovieById(showtime.movieId).text + ' (' + getMovieById(showtime.movieId).year + ')'}}
        </div>
        <div>
          {{'Director: ' + getMovieById(showtime.movieId).director}}
        </div>
        <div>
          {{'Duration: ' + getMovieById(showtime.movieId).duration + ' minutes'}}
        </div> -->
        <div class='movie-title'>{{getAppointmentById(showtime.appointmentTypeID).title}}</div>

      </div>
      <br />
      <dx-button text='Cancel' style="background-color: rgb(197, 7, 7)" (onClick)='cancel(showtime)' type="default">
      </dx-button>
      <dx-button text='Edit Appointment' (onClick)='editDetails(showtime)' type="default">
      </dx-button>

    </div>
  </div>
  <dxo-editing #editingOptions [allowAdding]="true" [allowUpdating]="true" [allowDeleting]="true" [allowResizing]="true" [allowDragging]="true"></dxo-editing>
</dx-scheduler>
<div class="options columns">
  <div class="caption column">Options</div>
  <div class="option column">
    <dx-check-box text="Allow adding" [(value)]="editingOptions.allowAdding"></dx-check-box>
  </div>
  <div class="option column">
    <dx-check-box text="Allow deleting" [(value)]="editingOptions.allowDeleting"></dx-check-box>
  </div>
  <div class="option column">
    <dx-check-box text="Allow updating" [(value)]="editingOptions.allowUpdating"></dx-check-box>
  </div>
  <div class="option column">
    <dx-check-box text="Allow resizing" [(value)]="editingOptions.allowResizing"></dx-check-box>
  </div>
  <div class="option column">
    <dx-check-box text="Allow dragging" [(value)]="editingOptions.allowDragging"></dx-check-box>
  </div>
</div>